.header{
    background-color: #1f2937;
    color: #E5e7eb;
}

.logo{
    font-size: 24px;
 
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
  }
  a{
    text-decoration: none;
    color: #E5e7eb;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
  }

  .up{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 8px;
    margin-bottom: 80px;
  }

  .down{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
 
    height: 250px;
    margin-bottom: 80px;

  }

  img{

      height: 250px;
      width: 500px;

  }

  .title{
    font-weight: bolder;
    font-size: 48px;
    counter-reset: #f9faf8;
  }

  .card{
      height: 250px;
      max-width: 500px;

  }