/*Mod a todos sus elementos*/
body{
    font-family: Helvetica, sans-serif;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
  }
a{
    text-decoration: none;
    color: #E5e7eb;
  }

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
  }

img{
    width: 100%;
    height: 100%;

}

/*Primera parte (Header)*/

.header{
    background-color: #1f2937;
    color: #E5e7eb;
}

.logo{
    font-size: 24px;
}

.up{
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 8px;
    margin-bottom: 80px;
}

.down{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 30px;
    height: 250px;
    padding-bottom: 80px;
}

.poster{
      width: 500px;
      height: 250px;
      border: 3px;
      border-radius: 10%;
}

.title{
    font-weight: bolder;
    font-size: 48px;
    counter-reset: #f9faf8;
}

.card{
      height: 250px;
      max-width: 500px;
}

/*Segunda parte (Galeria)*/

.section-2{  
  padding-top: 40px;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 52px;
}

.subtitle {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
  }

.info{
    border: 5px solid #3882F6;
    height: 200px;
    max-width: 200px;
    text-align: center;
    border-radius: 10%;
    padding: 4px;
  }

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 160px;
}

.text{
    padding: 8px; 
}

/*Tercera Parte (Mensaje)*/

.section-3{
    background-color: #E5e7eb;
    height: 400px;  
    padding-top: 40px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.center{
    flex: 1;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.paragraph{
    font-style: italic;
    font-size: 36px;
    text-align: justify;
}

.autor{
    align-self: flex-end;
    font-weight: bolder;
}

/* Cuarta Parte */
.section-4{
    background-color:#f9faf8;
    height: 300px;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.board{
    display: flex;
    flex: 1;
    color: #E5e7eb;
    background-color: #3882F6;
    max-width: 70%;
    padding: 40px;

    border-radius: 8px;
}

.left{
    flex: 1;
    padding-left: 40px;

}

.right{
    border-radius: 8px;
    border: solid 3px;
    justify-self: flex-end;
    flex: .13;
    margin-right: 40px;
 
}

.phrase{
    font-weight: bolder;
}